/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





body {

	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

  overflow: hidden;
  background-color: rgb(255, 190, 51);

  cursor: url(''), auto;

  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 27px;


}


.presentation{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;

  width: 15%;
  height: 100%;

  padding: 1%;
  padding-right: 1.5%;

  color: rgb(255, 190, 51);
}

.name{
  font-size: 80px;
  text-align: right;
  font-family: Nerko One;
  line-height: 60px;
}

.liens{
  text-align: right;
}





.projets{
  background-color: ;
  position: absolute;
  top: 0;
  left: 18%;

  width: 82%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  overflow: auto;

}


.projets .tous {
  padding: 5%; 
  padding-top: 3%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projets .chacun {
  padding: 1%;
  padding-bottom: 0%;
  padding-top: 0%;
}


.titre {
  text-align: left;
  align-self: center;

  line-height: 40px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.projets a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.logiciel{
  text-align: right;
  position: relative;
  top: -30px;
}

.chacun a {
  color: transparent;
}
.chacun a:hover {
  color: black;
}


.projets .chacun img {
  width: 320px;
  height: auto;
  margin-bottom: 10%;

  border: 2px solid black;
  mix-blend-mode: luminosityy;
  box-shadow: 0px 0px darkorange;

}

.projets .chacun img:hover {
  position: relative;
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px;

    

}

.projets .chacun :hover {
    
    mix-blend-mode: normal;
}





.ariane{
  padding-left: 1%;
  padding-top: 1.5%;
  font-weight: bold;

}

.ariane a:hover{
  text-decoration: underline;
  }





.page_content{
  position: absolute;
  top: 0;
  left: 18%;

  width: 82%;
  height: 100%;

  overflow: auto;

}

.page_content a {
 
  color: black;
  font-size: 18px;
}

.page_content a:hover {
 font-style: italic;
}

.page p{
  padding-left: 0%;
  padding-right: 0%;
}

.titre_page{
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}


.page {
  position: relative;
  padding-left: 16%;
  width: 850px;
  padding-top: 3%;
  padding-bottom: 5%;


  display: block;
}



.video{
  position: relative;
  padding-top : 50px;
  padding-left: 10%;
  height: 450px;
  width: 80%;
}



.video iframe {
  position: relative;
  width: 100%;
  height: 100%;
}



.width_100{
  width: 100%; 
  height: width;
}

.width_80{
  width: 80%; 
  height: width;
  padding-left: 10%;
}

.width_50{
  width: 48.2%; 
  height: width;
}

.width_33{
  width: 32%; 
  height: width;
}

.width_20{
  width: 19%; 
  height: width;
}







.ariane_bottom{
  font-weight: bold;
  text-align: center;
}


.page a:hover{
  text-decoration: underline;
  }






@media screen and (max-width: 800px) {


.ariane{
  padding: 5%;
}

.ariane_bottom{
  padding-top: 5%;
  padding-bottom: 5%;
}

img{
	padding-bottom: 5%;
}



 .page_content{
  left: 0px;

  width: 100%;
  height: 100%;

  padding-left: 0px;
}

 .page_content .presentation{
  display: none;
}


.page {
  padding: 5%;

  position: absolute;
  top: 50px;
  left: 0px;

  width: 89%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
}


.width_33{
  width: 100%; 
  height: width;
}


.width_80{
  width: 100%; 
  height: width;
  padding-left: 0%;
}

.width_50{
  width: 100%; 
  height: width;
}

.width_33{
  width: 100%; 
  height: width;
}

.width_20{
  width: 100%; 
  height: width;
}

.video{
  position: relative;
  padding-top : 50px;
  padding-left: 0%;
  height: 300px;
  width: 100%;
}





  .presentation{
  position: relative;

  width: 100%;
  height: 55%;

  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;

}

.name{
  font-size: 80px;
  text-align: center;
  font-family: Nerko One;
  line-height: 60px;
}

.chacun a {
  color: black;
}

.projets{
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  overflow: auto;
  overflow-x: hidden;

}

.projets .tous { 
  padding-top: 10%;

}

.projets .chacun {

  padding: 4%;
}






 }

