/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





body {

  background: url('');
background-color: white;
background-image: url("apparence/paper_jaune.jpg"); 
background-position:  0px 0, 0px 0, 0 0, 0 0;
background-size: 3%;
background-repeat: repeat;

  color: #69c9fb;
  cursor: url(''), auto;

  font-family: 'Nerko One';
  font-size: 25px;
}




.name {
  position: absolute;
  top: 5%;
  left: 4%;
  
  font-family: 'Courgette';
  font-size: 100px;
  font-weight: bolder;
  color: white;

  -webkit-filter: drop-shadow(5px 5px 0 orange);

}

.name::selection {
 color: #69c9fb;
 background: white;
}




.tout_sauf_titre {
  position: absolute;
  top: 25%;

  display: flex;
  flex-direction: row;
}




.presentation {
  background-color: white;
background-image: url("apparence/paper_bleu.jpg");
background-position:  0px 0, 0px 0, 0 0, 0 0;
background-size: 10%;
background-repeat: repeat;
  height: 100%;
  width: 20%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0% 4% 4% 4%;
  padding: 2%;

  color: white;
}

.presentation ::selection {
 color: orange;
 background: white;
}

.presentation .text {}

.presentation .liens {
  font-weight: ;
}

.presentation a {
  color: white;
  font-weight: ;
  text-decoration: underline dashed;
}

.presentation a:hover {
  color: orange;
}




.projets {
   background-color: white;
background-image: url("apparence/paper_blanc.jpg"); 
background-position:  0px 0, 0px 0, 0 0, 0 0;
background-size: 10%;
background-repeat: repeat;

  width: 55%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-bottom: 5%;
  padding: 3%;
}

.projets ::selection {
 color: white;
 background: orange;
}

.projets .tous {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projets .chacun {
  padding: 2%;
}

.projets .titre {
  text-align: center;
  align-self: center;

  font-size: 30px;
  font-weight: ;
  position:relative
  z-index: 1;
}

.projets a {
  text-decoration: none;
}

.projets a :hover {
  color: orange;
}

.projets .chacun img {
  width: 200px;
  height: auto;
  margin-bottom: 10%;

  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease-in-out;
}
@keyframes bounce {
  0%  { transform: rotate(15deg); }
  50%  { transform: rotate(-15deg); }
  100%  { transform: rotate(15deg);  }
}




.projets a,.ariane a{
	color: #69c9fb;
	font-weight: ;
}

.projets a:hover,.ariane a:hover{
  font-weight: ;
	color: orange;	
}




.ariane {
  padding-bottom: 5%;
}

.ariane ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
}

.ariane li {
  
}

.ariane li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "/";
}

.ariane a {
  text-decoration: none;
}



.retour a {
  padding: 0% 8% 0% 8%;
  margin-left: 2%;
}



.projets p{
  margin: 5% 5% 5% 5%;
}







.image_clavier {
  width: 90%; 
  height: width;
  margin: 0% 0% 5% 5%;
  cursor: pointer;
}


.illus_secondaire{
  display:flex;
  flex-flow: column;
}

.illus_secondaire img {
  max-width: 80%;
  height: auto;
  align-self: center;
  padding-bottom: 5%;
  cursor: pointer;
}



#affiches_primaire {
  width: 100%;
  align-self: center;
  cursor: pointer;
}

.affiches_secondaire{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.affiches_secondaire img {
  width: 25%; 
  padding: 3%;
  cursor: pointer;
}


@media screen and (max-width: 1100px) {

.affiches_secondaire img {
  width: 80%;
  padding: 5% 0 5% 0;
}

}



  /* ////////////////// TAVERNE //////////////////// */

.chopes{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.chopes_img {
  width: 13.8%; 
  height: width;
  margin: 0% 0% 5% 5%;
  cursor: pointer;
}


.persos{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;

}

.persos_img {
  width: 25%; 
  height: width;
  margin: 0% 2% 5% 5%;
  cursor: pointer;
}



.scenes{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;

}

.scenes_img {
  width: 41%; 
  height: width;
  margin: 0% 2% 5% 5%;
  cursor: pointer;
}



.scenes_dodo img{
   width: 90%;

}



.video{
  position: relative;
  overflow: hidden;
  width: 90%;
  align-self: center;
}

.video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}















@media screen and (max-width: 1100px) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name{    
    align-self: center;
    left: 6%;
  }


  .tout_sauf_titre {
    display: flex;
    flex-direction: column;
  }

  .presentation {
    width: auto;
    margin: 2% 5% 0 5%;
    padding: 5%;
    background-size: 5%;
  }

  .projets {
    width: auto;
    margin: 5%;
    padding: 5%;
  }

.projets .chacun {
  margin-top: 8%;
}

.retour a {
  padding: 0% 8% 0% 8%;
  margin-left: 0%;
}

}



@media screen and (max-width: 610px) {

  .tout_sauf_titre {
    display: flex;
    flex-direction: column;
    top: 40%;
  }

  .retour a {
  padding: 0% 2% 0% 2%;
  margin-left: 2%;
}
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 800px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 50px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
