.chopes{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.chopes_img {
  width: 13.8%; 
  height: width;
  margin: 0% 0% 5% 5%;
  cursor: pointer;
}



.persos{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;

}

.persos_img {
  width: 25%; 
  height: width;
  margin: 0% 2% 5% 5%;
  cursor: pointer;
}



.scenes{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;

}

.scenes_img {
  width: 41%; 
  height: width;
  margin: 0% 2% 5% 5%;
  cursor: pointer;
}
